#header ,h1.header ,h1 {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(images/A1rL6udG2dL._A_SL1500_.jpg);
}

#header {
	position: fixed;
    top: 0px;
    background-color: rgb(0,0,50);
    width: 100%;
    vertical-align: top;
    text-align: left;
    display: inline;
    border-radius: 10px;
}

h1.header{
    font-size: 50px;
    color: white;
    font-family: "微軟正黑體";
    text-align: left;
    display: inline;
    vertical-align: top;
}

li.header{
    text-align: left;
    display: inline;
    vertical-align: top;
    font-size: 30px;
    color: white;
    line-height: 55px;
    font-family: "微軟正黑體";
    float: right;
    width: auto;
    text-align: center;
    margin: 10px 25px 10px 25px;
}

.header-right{
    float: right;
    height: 100px;
}

.header-right a{
    color: white;
}

#side{
    background-color: rgba(0, 0, 30, 0.75);
    float: left;
    height: 4700px;
    width: 15%;
}

ul.side{
    color: white;
    font-size: large;
    font-family: 微軟正黑體;
    font-weight: bold;
}

a.oj, ul.oj, a.game, ul.game{
    color: white;
    font-size: large;
    font-family: 微軟正黑體;
    font-weight: bold;
}

img.banner{
    width: 97.39%;
    margin: 20px 20px 0px 20px;
    padding: 0px;
    border: 0px;
    border-radius: 30px;
}

#main{
    background-color: rgba(0,0,0,0.75);
    float: right;
    width: 85%;
    height: 4700px;
    
}

h1.about, h1.lessons, h1.class, h1.notice, h1.activities{
    color: white;
    text-align: center;
    margin: 40px;
    font-size: 50px;
    font-family: "微軟正黑體";
    line-height: 200px;
}

h2.about{
    color: white;
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-family: "微軟正黑體";
}

h2.lessons{
    color: white;
    font-family: "微軟正黑體";
}

h3.lessons{
    color:white;
    font-family: "微軟正黑體";
}

img.apcs{
    width: 30%;
    float: left;
}

#apcs{
    float: left;
    width: 50%;
}

#cpp{
    float: right;
    width: 50%;
}

img.cpp{
    width: 30%;
    float: left;
}

#py{
    float: left;
    width: 50%;
}

img.py{
    width: 30%;
    float: left;
}

#js{
    float: right;
    width: 50%;
}

img.js{
    width: 30%;
    float: left;
}

h2.class{
    color: white;
    text-align: center;
    font-family: "微軟正黑體";
    font-size: 30px;
}

h3.class{
    color: white;
    text-align: center;
    font-family: "微軟正黑體";
    font-size: 20px;
}

#normal{
    width: 50%;
    float: left;
}

#afterschool{
    width: 50%;
    float: right;
}

img.normal{
    width: 70%;
    display: block;
    margin: auto;
}

img.afterschool{
    width: 70%;
    display: block;
    margin: auto;
}

h1.side{
    color: white;
    font-family: "微軟正黑體";
    font-size: 30px;
    text-align: center;
}

marquee.notice{
    color: white;
    font-size: 30px;
    font-family: 微軟正黑體;
    background-color: rgb(0,0,50);
    text-align: center;
    font-weight: bold;
    float: right;
    width: 93%;
}

#notice{
    position: fixed;
    vertical-align: bottom;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 50px;
}

marquee.noticet{
    color: yellow;
    font-size: 40px;
    font-family: 微軟正黑體;
    background-color: rgb(0,0,30);
    text-align: center;
    font-weight: bolder;
    float: left;
    width: 7%;
}


h1.notice, h1.activities{
    margin: 20px 40px 20px 40px;
    line-height: 100px;
    font-weight: bold;
}

h2.side{
    color: white;
    font-size: 25px;
    font-family: 微軟正黑體;
    text-align: center; 
}

h2.activities{
    color: white;
    font-size: 40px;
    font-family: 微軟正黑體;
    text-align: center;
}

h3.activities{
    color: white;
    font-size: 25px;
    font-family: 微軟正黑體;
    text-align: center;
}

img.acr{
    width: 100%;
}

img.acl{
    width: 100%;
}

#imgl{
    float: left;
    width: 32%;
}

#imgr{
    float: right;
    width: 32%;
}

#summer, #course, #santa, #spring{
    float: left;
    height: 350px;
    width: 68%;
    background-color: rgba(0,0,0,0);
}

#fresh, #fall, #winter{
    float: right;
    height: 350px;
    width: 68%;
    background-color: rgba(0,0,0,0);
}

#footer{
    background-color: rgba(0,0,40,0.85);
    height: inherit;
    width: 100%;
}

img.footer{
    width: 50%;
    float: left;
    background-color: rgba(0,0,40,0.85);
}

#rclubs{
    float: left;
    background-color: rgba(0,0,40,0.85);
    width: 25%;
    height: auto;
    text-align: center;
    
}

h3.footer{
    color: white;
    font-size: 32px;
    margin: 50% 0 5% 0;
    font-family: 微軟正黑體;
}

h4.footer{
    color: white;
    font-size: 24px;
    margin: 0 0 50% 0;
    font-family: 微軟正黑體;
}

#c{
    float: right;
    background-color: rgba(0,0,40,0.85);
    width: 25%;
    height: auto;
    text-align: center;
}

h5.c{
    color: darkgray;
    font-size: 24px;
     margin: 0 0 57% 0; 
}

i{
        margin: 50% 0 5% 0;
        font-size: 32px;
}